/* --------------------------------------------------------------------------- */
/*
/*	gallery
/*
/* --------------------------------------------------------------------------- */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 200px 0;
    padding: 200px 0;
    overflow: hidden;

    @media(max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 100px 0;
        padding: 100px 0;
    }

    @media(max-width: 700px) {
        grid-template-columns: 1fr;
    }

    &--top {
        margin-top: -300px;
        padding: 0;
        grid-gap: 0;

        @media(max-width: 1000px) {
            grid-gap: 0;
            padding: 0;
        }

        @media (max-width: 800px) {
            margin-top: 50px;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;

        @media (max-width: 700px) {
            transform: translate(0,0) !important;
        }


        &Wrapper {
            margin: 0 auto;
            position: relative;

            @media (max-width: 500px) {
                width: 80% !important;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease;
        color: #fff;
    }

    &__imageWrapper:hover &__overlay {
        opacity: 1;
    }

    &__item--color1:hover &__overlay {
        background: $color1;
    }

    &__item--color2:hover &__overlay {
        background: $color2;
    }

    &__item--color3:hover &__overlay {
        background: $color3;
    }

    &__item--color4:hover &__overlay {
        background: $color4;
    }

    &__item--color5:hover &__overlay {
        background: $color5;
    }


    &__text {
        margin-left: auto;
        max-width: 300px;
        text-align: right;
        margin-bottom: -100px;
        transform: translateY(220px);
    }
}
