/* --------------------------------------------------------------------------- */
/*
/*	product
/*
/* --------------------------------------------------------------------------- */
.product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5rem;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        text-align: center;
    }

    &__image {
        display: block;
        width: 100%;
        max-width: 500px;
        height: auto;

        @media (max-width: 900px) {
            margin: 0 auto;
        }
    }

    &__info {
        padding: 0 120px 0 50px;

        @media (max-width: 900px) {
            padding: 0 40px;
        }
    }

    &__title {
        font-size: 2rem;
    }

    &__introtext {
        padding-bottom: 1rem;
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1.5rem;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 5rem;

        &Image {
            width: 100%;
            height: auto;
            display: block;
        }

        &Caption {
            margin-top: .8em;
        }
    }
	@media (max-width: 320px) {}
}
