/* --------------------------------------------------------------------------- */
/*
/*	introLogo
/*
/* --------------------------------------------------------------------------- */
.introLogo {
    display: block;
    max-width: 400px;
    height: auto;
    margin: 100px auto;

    @media(max-width: 500px) {
        max-width: 280px;
        margin-bottom: 50px;
    }
}
