id: 4
templatename: Produkt
description: ''
category: Admin
icon: icon-shopping-cart
properties: 'a:0:{}'

-----

[[$htmlHeader]]
                
        [[$header]]
        
        <style>
            .product__title {
                text-align: center;
                margin-bottom: 5rem;
            }
        </style>
        
        <!-- product -->
        <div class="pt7">
            <div class="container">
                <h1 class="product__title">[[*pagetitle]]</h1>
            </div>
            <div class="containerWide">
                <div class="product">
                    <div class="product__slider">
                        <svg class="product__sliderIcon"><use xlink:href="[[checksumFile? &file=`img/sprite.svg#arrow-right`]]"></use></svg>
                        <ul>
                            <li>
                                <a href="[[*productImage]]" data-fancybox="gallery" data-fancybox data-caption="[[*productCaption]]">
                                    <img src="[[*productImage:phpthumbof=`w=1000&h=1000`]]" alt="[[pagetitle:htmlent]] [[*productCaption:htmlent]]" class="product__image">
                                </a>
                            </li>
                            [[getImageList?
                                &tvname=`productSliderWrapper`
                                &tpl=`productImageTpl`
                            ]]
                        </ul>
                    </div>
                    <div class="product__info">
                        <div class="product__introtext">
                            <div class="content">
                                [[*content]]
                                <br><br>
                                [[*productNotShow:is:=``:then=`
                                [[%product.note? &namespace=`site` &language=`[[++cultureKey]]`]]
                                `:else=``]]
                            </div>

                        </div>
                        
                        [[!easycartAddToCart?
                            &title=`[[*pagetitle]]`
                            &sku=`[[*id]]`
                            &price=`[[*productPrice:priceToCent]]`
                            &tax=`0`
                            &image=`https://www.ohofi.de/[[*productImage:replace=`/assets==assets`]]`
                            &url=`[[~[[*id]]? &scheme=`full`]]`
                            &redirect=`1`
                        ]]
                        
                        <form action="[[~[[*id]]]]" method="post">
                            <input type="hidden" name="add_to_cart" value="1">
                            
                            <div class="cartForm">
                                <div>
                                    <div class="cartForm__field">
                                        <span class="cartForm__label">[[*productLabel]]</span>
                                        <span class="cartForm__price">[[*productPrice:formatPrice]] €</span>
                                        <div class="js-increment-wrapper">
                                            <div class="cartForm__incrementWrapper">
                                                <div class="cartForm__increment cartForm__increment--plus js-increment-plus">+</div>
                                                <div class="cartForm__increment cartForm__increment--minus js-increment-minus">-</div>
                                            </div>
                                            <input class="cartForm__incrementInput js-increment-counter" type="text" name="quantity" value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pt1">
                                [[*productButton:is=`b-sold-o`:then=`<div class="button">[[%product.soldout? &namespace=`site` &language=`[[++cultureKey]]`]]</div>`:else=`
                                <button type="submit" class="button">[[%product.add]]</button>
                                `]]
                            </div>
                        </form>
                        <div class="content">
                            <div style="font-size:.7rem; margin: 1rem auto 0;">
                                [[%product.prices]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        [[$footer]]
                
        [[$scripts]]

[[$htmlFooter]]