id: 4
templatename: Produkt
description: ''
category: Admin
icon: icon-shopping-cart
properties: 'a:0:{}'

-----

[[$htmlHeader]]
                
        [[$headerProduct]]
        
        <!-- product -->
        <div class="pt7">
            <div class="containerWide">
                <div class="product">
                    <div class="product__slider">
                        <svg class="product__sliderIcon"><use xlink:href="[[checksumFile? &file=`img/sprite.svg#arrow-right`]]"></use></svg>
                        <ul>
                            <li>
                                <a href="[[*productImage]]" data-fancybox="gallery" data-fancybox data-caption="[[*productCaption]]">
                                    <img src="[[*productImage:phpthumbof=`w=1000&h=1000`]]" alt="[[pagetitle:htmlent]] [[*productCaption:htmlent]]" class="product__image">
                                </a>
                            </li>
                            [[getImageList?
                                &tvname=`productSliderWrapper`
                                &tpl=`productImageTpl`
                            ]]
                        </ul>
                    </div>
                    <div class="product__info">
                        <h1 class="product__title">[[*pagetitle]]</h1>
                        <div class="product__introtext">
                            [[*content]]
                        </div>
                        
                        [[!easycartAddToCart?
                            &title=`[[*pagetitle]]`
                            &sku=`[[*id]]`
                            &price=`[[*productPrice:priceToCent]]`
                            &tax=`19`
                            &image=`[[++site_url]][[*productImage:replace=`/assets==assets`]]`
                            &url=`[[~[[*id]]? &scheme=`full`]]`
                            &redirect=``
                        ]]
                        
                        <form action="[[~[[*id]]]]" method="post">
                            <input type="hidden" name="add_to_cart" value="1">
                            
                            <div class="cartForm">
                                <div>
                                    <div class="cartForm__field">
                                        <span class="cartForm__label">[[*productLabel]]</span>
                                        <span class="cartForm__price">[[*productPrice]] €</span>
                                        <div class="js-increment-wrapper">
                                            <div class="cartForm__incrementWrapper">
                                                <div class="cartForm__increment cartForm__increment--plus js-increment-plus">+</div>
                                                <div class="cartForm__increment cartForm__increment--minus js-increment-minus">-</div>
                                            </div>
                                            <input class="cartForm__incrementInput js-increment-counter" type="text" name="quantity" value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pt2">
                                <button type="submit" class="button">Add to cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        [[$footer]]
                
        [[$scripts]]

[[$htmlFooter]]