id: 3
templatename: Shop
description: ''
category: Admin
icon: icon-shopping-cart
properties: 'a:0:{}'

-----

[[$htmlHeader]]
                
        [[$header]]
        
        <style>
            .temp {
                fonts-size: 1.8rem;
                text-align:center;
                max-width: 800px;
                margin: 0 auto;
            }
        </style>
        
        

        <!-- filter -->
        <div class="pt4">
            <div class="container">
                <ul class="filter__wrapper">
                    <li class="filter js-filter" data-filter=".all">[[%product.category.all? &namespace=`site` &language=`[[++cultureKey]]`]]</li>
                    <li class="filter js-filter" data-filter=".js-filter-1">[[%product.category.1]]</li>
                    <li class="filter js-filter" data-filter=".js-filter-2">[[%product.category.2]]</li>
                    <li class="filter js-filter" data-filter=".js-filter-3">[[%product.category.3]]</li>
                </ul>
            </div>
        </div>
        
        [[-
        <div class="pt4">
            <div class="container">
                <div class="temp content">
                    [[++cultureKey:is=`en`:then=`
<strong>ATTENTION — SHIPPING BREAK!</strong> <br>
You can still order as usual, but have to wait a little longer. <br>Shipping will be continued June 27.                    `:else=`
<strong>ACHTUNG — VERSANDPAUSE!</strong><br>
Bestellen könnt ihr weiterhin wie gewohnt, ihr müsst nur etwas länger warten.<br> Verschickt wird erst wieder ab dem 27.06.                     `]]
                </div>
            </div>
        </div>
        ]]
        
        
        <!-- gallery -->
        <div class="pt3 pb0">
            <div class="container">
                <ul class="gallery js-filter-elements">
                    
                    [[pdoResources?
                        &depth=`0`
                        &limit=`0`
                        &tpl=`galleryTpl`
                        &includeTVs=`productImage,productPrice,productOverlayColor,productOverlay,productButton,productButtonPosition,productHide,productCategory`
                        &processTVs=`1`
                        &where=`{"hidemenu:=":"1"}`
                        &sortby=`menuindex`
                        &tvPrefix=``
                    ]]

                </ul>
            </div>
        </div>
        
        [[$footer]]
                
        [[$scripts]]

[[$htmlFooter]]