id: 2
templatename: Standard
description: ''
properties: 'a:0:{}'

-----

[[$htmlHeader]]
                
        [[$header]]
        
        <!-- text -->
        [[*content:notempty=`
        <div class="pt2">   
            <div class="text content">
                [[*content]]
            </div>
        </div>
        `]]
        
        [[*megaImage:notempty=`
        <!-- megaImage -->
        <div class="pt3">
            <div class="container">
                <img src="[[*megaImage]]" alt="Mega-Image" class="megaImage">
            </div>
        </div>
        `]]
        
        [[*centredButton:notempty=`
        <div class="centredButton__wrapper">
            <a href="[[*centredButton]]" class="centredButton">
                [[*centredButtonText]]
            </a>
        </div>
        `]]
        
        [[$footer]]
                
        [[$scripts]]

[[$htmlFooter]]