id: 1
templatename: Startseite
description: ''
category: Admin
icon: icon-home
properties: 'a:0:{}'

-----

[[$htmlHeaderLanding]]
                
        [[$header]]
        
        <!-- introLogo -->
        <div class="container">
            <figure class="introLogo__wrapper animateIn animateIn--toTop animateIn--fade" data-animation-delay=".2">
                <img src="[[*introAnimation]]" alt="Intro-Animation" class="introLogo">
            </figure>
            <div class="text content animateIn animateIn--toTop animateIn--fade" data-animation-delay=".4">
                [[*content]]
            </div>
        </div>
        
        [[-
        <!-- instagram -->
        <div class="pt6">
            <div class="container">
                <div class="text content">
                    FOLLOW ME ON INSTAGRAM:
                </div>
                <ul class="instagram pt2">
                    <li>
                        <a target="_blank" href="">
                            <img class="instagram__image" src="/assets/image-cache/poster-mockupcofffee-duplicate.fab3f405.3336beca.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="">
                            <img class="instagram__image" src="/assets/image-cache/poster-mockupcofffee-duplicate.fab3f405.3336beca.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="">
                            <img class="instagram__image" src="/assets/image-cache/poster-mockupcofffee-duplicate.fab3f405.3336beca.jpg" alt="">
                          </a>
                    </li>
               
                    
                    !socialFeed?
                        &tpl=`instagramTpl`
                        &limit=`3`
                        &cacheTime=`3600`
                        &cacheKey=`socialFeed`
                    
                </ul>
            </div>
        </div>
        ]]
        
        
        <!-- backgroundImage -->
        <figure class="backgroundImage__wrapper animateIn animateIn--toTop animateIn--fade" data-animation-delay=".6" style="margin-top:-50px">
            <picture>
                <source srcset="[[*backgroundImage:pThumb=`w=1200`]]" media="(min-width: 1000px)">
                <source srcset="[[*backgroundImage:pThumb=`w=1000`]]" media="(min-width: 600px)">
                <source srcset="[[*backgroundImage:pThumb=`w=600`]]" media="(min-width: 320px)">
                <img class="backgroundImage" width="900" height="900" src="[[*backgroundImage]]" alt="[[*pagetitle:htmlent]]" loading="lazy">
            </picture>
        </figure>
        
        [[$footer?
            &footerClass=`footer--landing`
        ]]
        
        
        
        [[$scripts]]

[[$htmlFooter]]

