id: 1
templatename: Startseite
description: ''
category: Admin
icon: icon-home
properties: 'a:0:{}'

-----

[[$htmlHeaderLanding]]
                
        [[$header]]
        
        <!-- introLogo -->
        <div class="container">
            <figure class="introLogo__wrapper">
                <img src="[[*introAnimation]]" alt="Intro-Animation" class="introLogo">
            </figure>
            <div class="text content">
                [[*content]]
            </div>
        </div>
        
        [[-
        <!-- instagram -->
        <div class="pt6">
            <div class="container">
                <div class="text content">
                    FOLLOW ME ON INSTAGRAM:
                </div>
                <ul class="instagram pt2">
                    <li>
                        <a target="_blank" href="">
                            <img class="instagram__image" src="/assets/image-cache/poster-mockupcofffee-duplicate.fab3f405.3336beca.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="">
                            <img class="instagram__image" src="/assets/image-cache/poster-mockupcofffee-duplicate.fab3f405.3336beca.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="">
                            <img class="instagram__image" src="/assets/image-cache/poster-mockupcofffee-duplicate.fab3f405.3336beca.jpg" alt="">
                          </a>
                    </li>
               
                    
                    !socialFeed?
                        &tpl=`instagramTpl`
                        &limit=`3`
                        &cacheTime=`3600`
                        &cacheKey=`socialFeed`
                    
                </ul>
            </div>
        </div>
        ]]
        
        
        <!-- backgroundImage -->
        <figure class="backgroundImage__wrapper" style="margin-top:-50px">
            <img src="[[*backgroundImage]]" alt="" class="backgroundImage">
        </figure>
        
        [[$footer?
            &footerClass=`footer--landing`
        ]]
        
        
        
        [[$scripts]]

[[$htmlFooter]]

