id: 1
templatename: Startseite
description: ''
category: Admin
icon: icon-home
properties: 'a:0:{}'

-----

[[$htmlHeaderLanding]]
                
        [[$headerLanding]]
        
        <!-- introLogo -->
        <div class="container">
            <figure class="introLogo__wrapper">
                <img src="[[*introAnimation]]" alt="Intro-Animation" class="introLogo">
            </figure>
        </div>

        <!-- megaImage -->
        <div class="pt0">
            <div class="container">
                <img src="[[*megaImage]]" alt="Mega-Image" class="megaImage">
            </div>
        </div>
        
        [[$footer]]
                
        [[$scripts]]

[[$htmlFooter]]