/* --------------------------------------------------------------------------- */
/*
/*	Globals
/*
/* --------------------------------------------------------------------------- */

*, *:before, *:after {
	box-sizing: border-box;
}

// root
:root {
    font-family: $fontRegular;
    font-size: 20px;
    line-height: 1.4;
    color: rgba(0,0,0,0.8)
}

// body
html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    text-rendering: optimizeSpeed;
	background-color: #F8C7C3;

    &.colored {
        background-color: #E1D4DE;
    }
}


// text & links
p, a {
	margin: 0;
	padding: 0;
	/*-webkit-transform: translateZ(0);*/
}

p {
	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

a {
	text-decoration: none;
	transition: all .3s ease;
	color: inherit;
}



// container
.container {
    max-width: 1300px;
    margin: 0 auto;

    @media (max-width: 1440px) {
        margin: 0 70px;
    }

    @media (max-width: 1000px) {
        margin: 0 40px;
    }


    &Wide {
        max-width: 1440px;
        margin: 0 auto;
    }
}



// lists
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
