/* --------------------------------------------------------------------------- */
/*
/*	filter
/*
/* --------------------------------------------------------------------------- */
.filter {
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 1rem;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 2px;
        background: $color6;
        transition: all .3s ease;
        opacity: 0;
    }

    &.mixitup-control-active:after,
    &:hover:after {
        opacity: 1;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        justify-content: center;


        @media (max-width: 500px) {
            display: block;
            text-align: center;
        }
    }
}
