/* --------------------------------------------------------------------------- */
/*
/*	megaImage
/*
/* --------------------------------------------------------------------------- */
.megaImage {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}
