/* --------------------------------------------------------------------------- */
/*
/*	Fonts
/*
/* --------------------------------------------------------------------------- */


@font-face {
    font-family: 'JosefinSans-Light';
    src: url('../fonts/JosefinSans-Light.woff2') format('woff2'),
        url('../fonts/JosefinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cardo-Bold';
    src: url('../fonts/Cardo-Bold.woff2') format('woff2'),
        url('../fonts/Cardo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Cardo-Regular';
    src: url('../fonts/Cardo-Regular.woff2') format('woff2'),
        url('../fonts/Cardo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cardo-Italic';
    src: url('../fonts/Cardo-Italic.woff2') format('woff2'),
        url('../fonts/Cardo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
