/* --------------------------------------------------------------------------- */
/*
/*	footer
/*
/* --------------------------------------------------------------------------- */
.footer {
    margin-top: auto;
    padding-top: 100px;

    &--landing {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        @media (max-width: 700px) {
            display: block;
            text-align: center;
        }
    }

    &__nav {
        ul {
            display: flex;

            @media (max-width: 700px) {
                display: block;
                text-align: center;
            }
        }

        li {
            &:not(:last-child):after {
                content:'/';
                margin: 0 .5em;

                @media (max-width: 700px) {
                    display: none;
                }
            }
        }
    }

    a {
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            bottom: -2px;
            left: 0;
            right: 0;
            height: 2px;
            background: $color6;
            transition: all .3s ease;
        }

        &:hover:after {
            height: 130%;
        }
    }
}
