/* --------------------------------------------------------------------------- */
/*
/*	gallery
/*
/* --------------------------------------------------------------------------- */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    align-items: flex-start;

    @media(max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 700px) {
        grid-template-columns: 1fr;
    }

    &__item {
        position: relative;
        display: block;
        outline: none
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease;
        color: #fff;

        @media(max-width: 600px) {
            transition: none;
        }
    }

    &__imageWrapper:hover &__overlay {
        opacity: 1;
    }

    &__item--color1:hover &__overlay {
        background: $color1;
    }

    &__item--color2:hover &__overlay {
        background: $color2;
    }

    &__item--color3:hover &__overlay {
        background: $color3;
    }

    &__item--color4:hover &__overlay {
        background: $color4;
    }

    &__item--color5:hover &__overlay {
        background: $color5;
    }

    &__item--color6:hover &__overlay {
        background: $color6;
    }

    &__item--color7:hover &__overlay {
        background: $color7;
    }

    &__caption {
        margin-top: .7em;
        font-size: 1.2rem;
        text-align: center;
        color: #fff;
        font-family: $fontSpecialItalic;
    }

    &__button {
        display: block;
        width: 30%;
        position: absolute;
        pointer-events: none;

        @keyframes rotateButton {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }

        &--topLeft {
            top: 1rem;
            left: 1rem;
        }

        &--topRight {
            top: 1rem;
            right: 1rem;
            animation: rotateButton 1.5s linear infinite;
        }

        &--bottomLeft {
            bottom: 1rem;
            left: 1rem;
        }

        &--bottomRight {
            bottom: 1rem;
            right: 1rem;
        }

        &--center {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
