/* --------------------------------------------------------------------------- */
/*
/*	imageGallery
/*
/* --------------------------------------------------------------------------- */
.imageGallery {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;

	&--small {
		max-width: 900px;
		margin: 0 auto;
	}

	&--grid2 {
		grid-template-columns: 1fr 1fr;

		@media (max-width: 700px) {
			grid-template-columns: 1fr;
		}
	}
	
	&--grid3 {
		grid-template-columns: 1fr 1fr 1fr;
		
		@media (max-width: 700px) {
			grid-template-columns: 1fr;
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
	}

	&__caption {
		margin-top: 20px;

		&:empty {
			margin-top: 0;
		}
	}
}
